<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

<filter>
    <filter-name>encoding</filter-name>
    <filter-class>com.fnw.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<servlet>
    <servlet-name>notice</servlet-name>
    <servlet-class>com.fnw.control.NoticeController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>notice.properties</param-value>
    </init-param>
  </servlet>
<servlet-mapping>
	<servlet-name>notice</servlet-name>
	<url-pattern>*.notice</url-pattern>
</servlet-mapping>

  <servlet>
    <servlet-name>member</servlet-name>
    <servlet-class>com.fnw.control.MemberController</servlet-class>
    <init-param>
      <param-name>properties</param-name>
      <param-value>member.properties</param-value>
    </init-param>
  </servlet>
<servlet-mapping>
	<servlet-name>member</servlet-name>
	<url-pattern>*.member</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>market</servlet-name>
	<servlet-class>com.fnw.control.MarketController</servlet-class>
	<init-param>
		<param-name>properties</param-name>
		<param-value>market.properties</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>market</servlet-name>
	<url-pattern>*.market</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>seat</servlet-name>
	<servlet-class>com.fnw.control.SeatController</servlet-class>
	<init-param>
		<param-name>properties</param-name>
		<param-value>seat.properties</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>seat</servlet-name>
	<url-pattern>*.seat</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>book</servlet-name>
	<servlet-class>com.fnw.control.BookController</servlet-class>
	<init-param>
		<param-name>properties</param-name>
		<param-value>book.properties</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>book</servlet-name>
	<url-pattern>*.book</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>library</servlet-name>
	<servlet-class>com.fnw.control.LibraryController</servlet-class>
	<init-param>
		<param-name>properties</param-name>
		<param-value>library.properties</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>library</servlet-name>
	<url-pattern>*.library</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>qna</servlet-name>
	<servlet-class>com.fnw.control.QnaController</servlet-class>
	<init-param>
		<param-name>properties</param-name>
		<param-value>qna.properties</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>qna</servlet-name>
	<url-pattern>*.qna</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>qnaReply</servlet-name>
	<servlet-class>com.fnw.control.QnaReplyController</servlet-class>
	<init-param>
		<param-name>properties</param-name>
		<param-value>qnaReply.properties</param-value>
	</init-param>
</servlet>
<servlet-mapping>
	<servlet-name>qnaReply</servlet-name>
	<url-pattern>*.qnaReply</url-pattern>
</servlet-mapping>

</web-app>